@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.header {
  background-image: url(./img/japnglish.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: end;
  background-size: cover;
  height: 400px;
}
body {
  background-image: url(./img/bkg04.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
a {
  font-family: 'Bangers', cursive;
  font-size: 32px;
  margin: 1%;
}
h2 {
  color: #44318d;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 60px;
}
p {
  font-family: 'VT323', monospace;
  font-size: 20px;
  padding: 2%;
}
footer {
  text-align: center;
  background-color: #2a1b3d;
  display: block;
  color: #a4b3b6;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 17px;
  margin: 0%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__text {
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text__h1 {
  font-size: 4rem;
  text-shadow: 0 3px 10px rgb(0 0 0 / 70%);
}
#text__h4 {
  font-size: 1rem;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2a1b3d;
  color: #a4b3b6;
}
#navigace {
  background-color: #2a1b3d;
  padding: 0%;
}

.nav-link {
  white-space: nowrap;
}

.navbar-brand,
.nav-link,
.active {
  color: #a4b3b6;
}
.active,
.navbar-toggler {
  background-color: #d83f87;
}

.srdce {
  background-image: url(./img/HeartBar/HeartStage1.png);
}
.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
.view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #fafafa;
}

@keyframes taadaa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.day {
  background-image: url(./img/cityDay.jpg);
  z-index: 2;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: taadaa 5s infinite;
  animation-direction: alternate;
  position: absolute;
}

.night {
  background-image: url(./img/cityNight.jpg);
  z-index: 1;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.menu__lista {
  background-color: #2a1b3d;
  height: 60px;
  display: flex;
  align-content: space-between;
}
.bubble {
  padding: 5%;
  margin: 5%;
  border: 10px solid #2a1b3d;
  border-radius: 80px;
  box-shadow: 10px 10px 5px #c009585e;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.what {
  align-items: center;
}
.telo {
  display: flex;
  flex-direction: column;
}

#galerie {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
#canva {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  padding: 5%;
}

#btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*
.btn {
  padding: 0px;
  margin: 30px;
}
*/

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  font-family: 'Press Start 2P', cursive;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid #2a1b3d;
  border-radius: 1em;
  background: #d83f87;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a1b3d;
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: #44318d;
  transform: translate(0, 0.375em);
  color: #a4b3b6;
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 320px) {
  .respo__tablet {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .respo__tablet {
    display: flex;
    flex-direction: row;
  }
}

/*
    .what {
max-width: 47%;
    }
    .why {
    max-width: 47%;}
*/

/*
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/
